#daiiz-rel-cards-bubble, .daiiz-text-bubble {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
              0 3px 1px -2px rgba(0,0,0,.2),
              0 1px 5px 0 rgba(0,0,0,.12);
  position: absolute;
  display: none;
  padding: 10px;
  box-sizing: content-box;
  z-index: 10000;
}

.daiiz-cards {
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.daiiz-cards li {
  float: none !important;
}

.daiiz-cards li .title {
  float: left;
}

#daiiz-rel-cards-bubble .page-list-item {
  display: inline-block;
  white-space: normal;
  margin: 0 10px 10px 0;
}

.daiiz-text-bubble {
  color: #565656;
  padding: 5px;
  font-size: 9pt;
  cursor: default;
  border: 1px solid #fff;
  position: absolute;
}

.daiiz-text-bubble .empty-page-link {
  color: #ed8362;
}

.daiiz-backquote {
  background-color: rgba(0,0,0,0.04);
  border-radius: 2px;
  box-sizing: border-box;
  padding: 1px;
  font-size: 8.5pt;
}

.daiiz-external-project {
  background-color: #fafafa;
}

.daiiz-line-permalink {
  background-color: #fff277;
}

.daiz-underline {
  text-decoration: underline;
}

.daiiz-tiny-icon {
  height: 11pt;
}

.daiiz-small-img {
  max-height: 40px;
}

.daiiz-ref-link {
  text-decoration: underline;
}

.daiiz-ref-link img {
  border-style: none none solid;
  border-width: 1px;
  border-color: #7ba1f8;
}

#m {
  margin: 0;
  border: 0;
  width: 100%;
  top: 0px;
  border: 0;
  z-index: -1;
}

#mm {
  top: 50%;
  border: 0;
  z-index: -1;
}

.nm {
  border-bottom: 2px solid #9b9b9b;
}
.sm {
  border-top: 2px solid #9b9b9b;
}

.wm {
  border-right: 1px solid #9b9b9b;
}
.em {
  border-left: 1px solid #9b9b9b;
}

.m {
  position: fixed;
  width: 100%;
  height: 50%;
  box-sizing: border-box;
}

.pretty-split-pane-frame {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.pretty-split-pane-frame .split-pane > .split-pane-divider.dragged.touch {
  background: blue;
  opacity: 0.25;
}

.pretty-split-pane-component-inner {
  box-sizing: border-box;
  background: white;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#left-component {
  width: 20em;
}

#my-divider {
  left: 20em;
  width: 5px;
  z-index: 10000 !important;
}

#right-component {
  left: 20em;
  margin-left: 5px;
}

#bar {
  -webkit-app-region: drag;
  cursor: move;
  position: fixed;
  width: 100%;
  height: 16px;
  z-index: 100000;
}

#pane-dummy {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
}
