#daiiz-rel-cards-bubble, .daiiz-text-bubble {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
              0 3px 1px -2px rgba(0,0,0,.2),
              0 1px 5px 0 rgba(0,0,0,.12);
  position: absolute;
  display: none;
  padding: 10px;
  box-sizing: content-box;
  z-index: 10000;
}

.daiiz-cards {
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.daiiz-cards li {
  float: none !important;
}

#daiiz-rel-cards-bubble .page-list-item {
  display: inline-block;
  white-space: normal;
}

.daiiz-text-bubble {
  padding: 5px;
  font-size: 9pt;
  cursor: default;
  border: 1px solid #fff;
  position: absolute;
}

.daiiz-backquote {
  color: #342d9c;
  background-color: rgba(0,0,0,0.04);
  border-radius: 2px;
  box-sizing: border-box;
  padding: 1px;
  font-size: 8.5pt;
}

.daiiz-tiny-icon {
  height: 11pt;
}

.daiiz-small-img {
  max-height: 40px;
}

.daiiz-ref-link {
  text-decoration: underline;
}

.daiiz-ref-link img {
  border-style: none none solid;
  border-width: 1px;
  border-color: #7ba1f8;
}
